<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeIp2Vor5Bf0gQH8gO8rM-qkTMZscylq4&callback=initMap&libraries=&v=weekly"
                defer
        ></script>
        <!-- Charge notre composant React -->
        <script src="init_map.js"></script>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
